# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.pytest_cache/

# Editor
.vscode/
.idea/

# OS
.DS_Store
.env

#
tests/*.json
commit_message.txt
pr_body.txt
exec_tree.json

GEMINI.md
QWEN.md
AGENT.md
